@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WonderType';
  src: url('../assets/fonts/WonderType-Regular.otf');
}

html{
  font-family: 'WonderType', serif;
  @apply bg-black text-white;
}

::selection{
  background:rgb(167, 239, 60);
  @apply text-black;
}

.overlay{
  @apply top-0 left-0 w-full h-full;
}

.border-dashed{
  border-style: dashed;
}

.btn-highlight{
  @apply mouse:hover:bg-white mouse:hover:text-black focus-visible:bg-white focus-visible:text-black focus:outline-none;
}

.btn-underline{
  @apply mouse:hover:underline focus-visible:ring focus-visible:ring-2 focus-visible:ring-current focus:outline-none;
}

@screen mouse {
  .btn-flash:hover{
    /* animation: flash 300ms infinite linear; */
    @apply animate-flash;
  }
  .btn-flash-slow:hover{
    /* animation: flash 300ms infinite linear; */
    @apply animate-flash-slow;
  }
}

/* @keyframes flash {
  0%{
    background-color: black;
    color:white;
  }
  50%{
    background-color: black;
    color:white;
  }
  51%{
    background-color: white;
    color:black;
  }
  100%{
    background-color: white;
    color:black;
  }
} */
